<!-- Credit Card Details Section -->
<div class="credit-card-section">
  <h2>Credit Card Details</h2>

  <table class="green-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Card Number</th>
        <th>CSC Code</th>
        <th>Expiration Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of CreditCarddetails">
        <td>{{ card.cardholder_name }}</td>
        <td>{{ card.card_number }}</td>
        <td>{{ card.csc_code }}</td>
        <td>{{ card.expiration_date_month }}/{{ card.expiration_date_year }}</td>
        <td>
          <button (click)="removeCreditCard()" class="remove-button">Remove Credit Card</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-transactionlist></app-transactionlist>
