<table class="green-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Card Number</th>
      <th>CSC Code</th>
      <th>Expiration Date</th>
      <th>Actions</th> <!-- Add a column for actions -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of CreditCarddetails">
      <td>{{ card.cardholder_name }}</td>
      <td>{{ card.card_number }}</td>
      <td>{{ card.expiration_date_month }}/{{ card.expiration_date_year }}</td>
      <td>{{ card.issuer }}</td>
      
      <!-- Add the "Remove Credit Card" button within the Actions column -->
      <td>
        <button (click)="removeCreditCard()" class="remove-button">Remove Credit Card</button>
      </td>
    </tr>
  </tbody>
</table>



<h2>Transaction List</h2>

<table class="transaction-table">
  <thead>
    <tr>
      <th>Transaction ID</th>
      <th>Card Number</th>
      <th>Amount</th>
      <th>Comment</th>
      <th>Date</th>
      <th>Currency</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.uid }}</td>
      <td>{{ transaction.credit_card.card_number }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.comment }}</td>
      <td>{{ transaction.date | date: 'medium' }}</td>
      <td>{{ transaction.currency }}</td>
    </tr>
  </tbody>
</table>
