<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Management System</title>
    <style>
        /* Basic styling for the navigation bar */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #143822; /* Change to your desired background color */
        }
        .content
      {
        background-color: rgb(52, 122, 52);
        height: 1000px;
        width: auto;
        }
    </style>
</head>
<body>
  <app-navigationbar></app-navigationbar>
  <router-outlet></router-outlet>
    <div class="content">

    </div>


    <!-- Content of your web pages will go here -->
</body>
</html>
