<h2>Transactions</h2>

<div class="header-section">
  <div class="filter-section">
    <label for="cardNumberFilter">Filter by Card Number:</label>
    <input type="number" id="cardNumberFilter" [(ngModel)]="cardNumberFilter" (ngModelChange)="filterTransactions()" />
  </div>
  <button (click)="addTransaction()" class="add-transaction-button">Add Transaction</button>
</div>
<table class="transaction-table">
  <thead>
    <tr>
      <th>Transaction ID</th>
      <th>Card Number</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Currency</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.uid }}</td>
      <td><a [routerLink]="['/transactionlist', transaction.credit_card.card_number]">{{ transaction.credit_card.card_number }}</a></td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.date | date: 'medium' }}</td>
      <td>{{ transaction.currency }}</td>
    </tr>
  </tbody>
</table>
