<div class="transaction-section">
  <h2>Transaction List</h2>

  <table class="transaction-table">
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Card Number</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Currency</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.uid }}</td>
        <td>{{ transaction.credit_card.card_number }}</td>
        <td>
          <ng-container *ngIf="transaction.amount; else showAmount">
            {{ transaction.amount }}
          </ng-container>
          <ng-template #showAmount>
            Amount is required and must be a number.
          </ng-template>
        </td>
        <td>{{ transaction.date | date: 'medium' }}</td>
        <td>
          <ng-container *ngIf="transaction.currency; else showCurrency">
            {{ transaction.currency }}
          </ng-container>
          <ng-template #showCurrency>
            Currency is required.
          </ng-template>
        </td>
        <td>
          <button (click)="removeTransaction(transaction)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
